<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Not authorized</title>
        <meta name="description" content="Not authorized - Ninja Auth">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <div class="alert">
        <h1>Thanks!</h1>
        <p>You've successfully authenticated, the link below will take you to the site.</p>
        <p><a href="/">Go Home</a></p>
      </div>
    </body>
</html>